<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">

    <!-- Title block allowing child pages to override -->
    <title>{% block title %}{% endblock %}{{ global.title }}</title>

    <!-- Include meta tags -->
    {% include "meta" %}
    {% block meta %}{% endblock %}

    <link rel="shortcut icon" href="{{ "favicon.ico" | asset_url }}" />
    <link rel="apple-touch-icon-precomposed" href="{{ "apple-touch-icon-precomposed.png" | asset_url }}" />

    {{ "app.css" | asset_url | stylesheet_tag }}

    <!-- Style block allowing child pages to inject their own styles -->
    {% block styles %}{% endblock %}

    <!-- Fontawesome icons. Remove if not using -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    {% if global.typekitID != '' %}
    <!-- Typekit embed.  -->
    <script type="text/javascript">
      (function() {
      var config = {
        kitId: '{{ global.typekitID }}',
        scriptTimeout: 3000
      };
      var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
      })();
    </script>
    {% elseif global.googlefontsEmbed != '' %}
    <!-- Free font fallback using google fonts. -->
    {{ global.googlefontsEmbed  }}
    {% endif %}

  </head>
  <body class="offcanvas--push {% block page-class %}{% endblock %}">
    <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->



    <!-- Header section -->
    {% block header %}{% include "modules/header" %}{% endblock %}

    <!-- Content block, child page inject content -->
    <main class="main" id="main" role="main">
    {% block content %}{% endblock %}
    </main>

    <!-- Footer section -->
    {% block footer %}{% include "modules/footer" %}{% endblock %}


    <!-- Script block allowing child pages to inject their own scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-2.0.3.min.js"><\/script>')</script>

    {{ "vendor.min.js" | asset_url | script_tag }}
    {{ "app.min.js" | asset_url | script_tag }}
    {% block scripts %}{% endblock %}

    <!-- Use Google Analytics if code is provided in _models.json -->
    {% if global.googleanalytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ global.googleanalytics }}', '{{ global.domain }}');
      ga('send', 'pageview');

    </script>
    {% endif %}
  </body>
</html>