{% block content %}
{% model "services.json" %}

<div class="row reverse">
  <section class="text-center">
    <div class="hgroup">
      <h1>Crafted Websites for Intelligent Business</h1>
    </div>
    <p class="lead">We are a boutique web agency comprised of web craftsmen who instil every project with attention to detail, deep experience and focused passion. A job worth doing is worth doing right is our motto and we tackle it with fierce determination and uncompromising commitment to quality. Word.</p>
    <p><a href="/contact" class="button button--blue">Start Your Project &raquo;</a></p>
    <figure>
    {{ "1940x800" | placeholder:'EEEEEE' | image_tag }}
    </figure>
  </section>
</div>

<div class="row">
    <div class="hgroup text-center">
        <h1>What We Do</h1>
    </div>
  {% for service in model.services limit:3 %}
    <section class="three-up">
      <h2>{{ service.title }}</h3>
      <p>{{ service.summary }}</p>
    </section>
  {% endfor %}
  <p class="text-center"><a href="/services/index" class="button button--white">That's not all. Read More</a></p>
</div>

<div class="row reverse">
  <section class="text-center">
    <div class="hgroup">
        <h2>Halsa Spa</h2>
        <h1>Finding Peace and Tranquility</h1>
    </div>
    <figure>
    {{ "1940x800" | placeholder:'EEEEEE' | image_tag }}
    </figure>
    <p><a href="/work/detail" class="button button--blue">Read Case Study</a></p>

  </section>
</div>

<div class="row">
  <div class="hgroup text-center">
      <h1>Part of the Community</h1>
  </div>
</div>
<div class="row">
  <section class="split-content">
    <h2>Where We Go</h2>
    <p>We work with you to take your vision & turn it into a crafted website your clients will thank you for. It’s what we live to do.</p>
    <p><a href="more">Read More ></a>

    <h2>What We Support</h2>
    <p>We instill our love of craft into everything we do. No detail is too small. Together, we’ll get your business where it needs to go.</p>
    <p><a href="more">Read More ></a>
  </section>

  <section class="split-content">
      {{ "660x434" | placeholder:'EEEEEE' | image_tag }}
  </section>
</div>

<div class="subtle">
  <div class="row">
    <div class="hgroup text-center">
        <h1>From the Shop</h1>
    </div>
    <section class="three-up">
      <aside class="callout subtle">
        <div class="content">
          <figure>{{ "800x400" | placeholder:'EEEEEE' | image_tag }}</figure>
          <h3><a href>It Is Possible to Ditch Your Ecommerce Software</a></h3>
          <p>If you’re not happy with your ecommerce software, imagine how your customers feel. As ecommerce website managers begin to see the limitless potential of a custom-built and WordPress-enhanced web system, they want equally limitless potential from their ecommerce software. We highly recommend WooCommerce, but potential clients tell us that they...</p>
          <p class="more"><a href="#">Keep Reading ></a></p>
        </div>
      </aside>
    </section>
    <section class="three-up">
       <aside class="callout subtle">
        <div class="content">
          <figure>{{ "800x400" | placeholder:'EEEEEE' | image_tag }}</figure>
          <h3><a href>It Is Possible to Ditch Your Ecommerce Software</a></h3>
          <p>If you’re not happy with your ecommerce software, imagine how your customers feel. As ecommerce website managers begin to see the limitless potential of a custom-built and WordPress-enhanced web system, they want equally limitless potential from their ecommerce software. We highly recommend WooCommerce, but potential clients tell us that they...</p>
          <p class="more"><a href="#">Keep Reading ></a></p>
        </div>
      </aside>
    </section>
    <section class="three-up">
      <aside class="callout subtle">
        <div class="content">
          <figure>{{ "800x400" | placeholder:'EEEEEE' | image_tag }}</figure>
          <h3><a href>It Is Possible to Ditch Your Ecommerce Software</a></h3>
          <p>If you’re not happy with your ecommerce software, imagine how your customers feel. As ecommerce website managers begin to see the limitless potential of a custom-built and WordPress-enhanced web system, they want equally limitless potential from their ecommerce software. We highly recommend WooCommerce, but potential clients tell us that they...</p>
          <p class="more"><a href="#">Keep Reading ></a></p>
        </div>
      </aside>
    </section>

    <p class="text-center"><a href class="button button--blue">View More Articles</a></p>

  </div>
</div>

<div class="row reverse">
  <section class="text-center">
    <h2>Let's Get Your Project Started</h2>
    <p>We instill our love of craft into everything we do. No detail is too small. Together, we’ll get your business where it needs to go.</p>
    <p><a href="/contact" class="button button--blue">Start Your Project &raquo;</a></p>
  </section>
</div>
{% endblock %}